<div class="one field">
    <div class="field">
        <label>Start Date</label>
        <input placeholder="DD/MM/YYYY" type="text" />
    </div>
    <div class="field">
        <label>End Date</label>
        <input placeholder="DD/MM/YYYY" type="text" />
    </div>
</div>
<div class="ui blue submit button">Submit</div>

