    <div class="section ui item">
        <a class="active item">
          <i class="home icon"></i>Hodor
        </a>
    </div>
    <div class="section right menu">
        <a class="item">{{{ name }}}</a>
    </div>
